/**
 * MARK: Highlight JS
 */
/**/
/*.hljs {*/
/*    display: block;*/
/*    overflow-x: auto;*/
/*    padding: 0.5em;*/
/*    background: #282c34;*/
/*    border-radius: 20px;*/
/*    padding: 15px 20px;*/
/*    border-color: 1px solid rgba(214, 214, 214, 0.2);*/
/*}*/
/**/
/*.hljs-comment,*/
/*.hljs-quote {*/
/*    color: #7e8c98;*/
/*    font-style: italic;*/
/*}*/
/**/
/*.hljs-doctag,*/
/*.hljs-keyword,*/
/*.hljs-formula {*/
/*    color: #ff7ab2;*/
/*}*/
/**/
/*.hljs-section,*/
/*.hljs-name,*/
/*.hljs-selector-tag,*/
/*.hljs-deletion,*/
/*.hljs-subst {*/
/*    color: #78c2b4;*/
/*}*/
/**/
/*.hljs-literal {*/
/*    color: #56b6c2;*/
/*}*/
/**/
/*.hljs-string,*/
/*.hljs-regexp,*/
/*.hljs-addition,*/
/*.hljs-attribute,*/
/*.hljs-meta-string {*/
/*    color: #ff8170;*/
/*}*/
/**/
/*.hljs-built_in,*/
/*.hljs-class .hljs-title {*/
/*    color: #78c2b4;*/
/*}*/
/**/
/*.hljs-attr,*/
/*.hljs-variable,*/
/*.hljs-template-variable,*/
/*.hljs-type,*/
/*.hljs-selector-class,*/
/*.hljs-selector-attr,*/
/*.hljs-selector-pseudo,*/
/*.hljs-number {*/
/*    color: #b283ec;*/
/*}*/
/**/
/*.hljs-symbol,*/
/*.hljs-bullet,*/
/*.hljs-link,*/
/*.hljs-meta,*/
/*.hljs-selector-id,*/
/*.hljs-title {*/
/*    color: white;*/
/*}*/
/**/
/*.hljs-emphasis {*/
/*    font-style: italic;*/
/*}*/
/**/
/*.hljs-strong {*/
/*    font-weight: bold;*/
/*}*/
/**/
/*.hljs-link {*/
/*    text-decoration: underline;*/
/*}*/
/*}*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px 20px;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}

.hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
  font-style: italic;
  color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: #bd93f9;
}

.hljs-emphasis {
  font-style: italic;
}


li::marker {
/*    unicode-bidi: isolate;*/
    font-variant-numeric: tabular-nums;
    text-transform: none;
}
li {
    text-indent: 0 !important;
    margin-left: 0 !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #000;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: #141414;
    
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    /*    color: #000;*/
    font-weight: bold;
}



header .banner-image {
    max-width: 80%;
    margin-bottom: 6px;
}
.banner-image {
    width: 600px;
    max-width: 80%;
}
.banner-title {
    font-size: 50px;
}

@media(max-width: 560px) {
    .banner-title {
        font-size: 30px;
    }
}

@media(max-width: 400px) {
    .banner-title {
        font-size: 25px;
    }
}

.banner-subtitle {
    font-size: 25px;
}

@media(max-width: 550px) {
    .banner-subtitle {
        font-size: 20px;
    }
}

@media(max-width: 400px) {
    .banner-subtitle {
        font-size: 16px;
    }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


nav {
    margin-top: 30px;
}
nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 20px;
    font-size: 20px;
}

nav a:hover {
    background-color: #237563;
    color: white;
}

nav li a {
    /*    display: inline-block;*/
    /*    margin: 0 7px;*/
    /*    line-height: 1.5em;*/
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}


nav li a.selected {
    background-color: #237563;
    color: white;
    /*    text-decoration: underline;*/
}


h1 {
    margin-bottom: 20px;
    color: #F2F5F7;
    font-size: 32px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}
.item-list {

}

.item-list h1 a:hover {
    color: #237563;
}

.item-metadata {
    color: #6C7693;
}

.small-divider {
    border: 2px solid #237563;
    border-style: none none solid none;
    width: 200px;
}

.description {
    margin-bottom: 40px;
}


.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 40px;
}
.item-list a:link {
    text-decoration: none;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 15;
    line-height: 1.6;
}
.item-page .tag-list {
    display: inline-block;
}

.article-metadata {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.tag-list li,
.tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.tag-list a,
.tag a,
.tag {
    text-decoration: none;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    font-weight: 300;
    color: #FFF;
}

.tag-list li:last-child {
    margin-right: 20px;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags ul {
    font-size: 22px;
    margin-right: 10px;
    padding: 6px 10px;
}
.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

body {
    background-color: black;
}

body,
header .site-name {
    color: #ddd;
}

.item-list > li {
    background-color: #141414;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/*Tag Colors*/
.swift-tag {
    background-color: #f26d50;
}
.xcode-tag {
    background-color: #0080ff;
}

.swiftUI-tag {
    background-color: #ff0080;
    
}
.deploy-tag {
    background-color: #008040;
   
}

