/**
 * MARK: Highlight JS
 */

/*

 Atom One Light by Daniel Gamage
 Original One Light Syntax theme from https://github.com/atom/one-light-syntax

 base:    #fafafa
 mono-1:  #383a42
 mono-2:  #686b77
 mono-3:  #a0a1a7
 hue-1:   #0184bb
 hue-2:   #4078f2
 hue-3:   #a626a4
 hue-4:   #50a14f
 hue-5:   #e45649
 hue-5-2: #c91243
 hue-6:   #986801
 hue-6-2: #c18401

 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #fafafa;
    border-radius: 20px;
    padding: 15px 20px;
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    /*

     Atom One Dark by Daniel Gamage
     Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

     base:    #282c34
     mono-1:  #abb2bf
     mono-2:  #818896
     mono-3:  #5c6370
     hue-1:   #56b6c2
     hue-2:   #61aeee
     hue-3:   #c678dd
     hue-4:   #98c379
     hue-5:   #e06c75
     hue-5-2: #be5046
     hue-6:   #d19a66
     hue-6-2: #e6c07b

     */

    .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #abb2bf;
        background: #282c34;
        border-radius: 20px;
        padding: 15px 20px;
    }

    .hljs-comment,
    .hljs-quote {
        color: #5c6370;
        font-style: italic;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-formula {
        color: #c678dd;
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
        color: #e06c75;
    }

    .hljs-literal {
        color: #56b6c2;
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta-string {
        color: #98c379;
    }

    .hljs-built_in,
    .hljs-class .hljs-title {
        color: #e6c07b;
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
        color: #d19a66;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
        color: #61aeee;
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }

    .hljs-link {
        text-decoration: underline;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #000;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-image: linear-gradient(#0E141B, #1C262E);
    
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
/*    color: #000;*/
    font-weight: bold;
}



header .banner-image {
    max-width: 80%;
    margin-bottom: 6px;
}
.banner-image {
    width: 600px;
    max-width: 80%;
}
.banner-title {
  font-size: 50px;
}

@media(max-width: 560px) {
  .banner-title {
    font-size: 30px;
  }
}

@media(max-width: 400px) {
  .banner-title {
    font-size: 25px;
  }
}

.banner-subtitle {
  font-size: 25px;
}

@media(max-width: 550px) {
  .banner-subtitle {
    font-size: 20px;
  }
}

@media(max-width: 400px) {
  .banner-subtitle {
    font-size: 16px;
  }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


nav {
    margin-top: 30px;
}
nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 20px;
    font-size: 20px;
}

nav a:hover {
    background-color: #237563;
    color: white;
}

nav li a {
/*    display: inline-block;*/
/*    margin: 0 7px;*/
/*    line-height: 1.5em;*/
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}


nav li a.selected {
    background-color: #237563;
    color: white;
/*    text-decoration: underline;*/
}


h1 {
    margin-bottom: 20px;
    color: #F2F5F7;
    font-size: 32px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}
.item-list {
    background-color: #222;
}

.item-list h1 a:hover {
    color: #237563;
}

.item-metadata {
  color: #6C7693;
}

.small-divider {
    border: 2px solid #237563;
    border-style: none none solid none;
    width: 200px;
}

.description {
    margin-bottom: 40px;
}


.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 40px;
}
.item-list a:link {
    text-decoration: none;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 15;
    line-height: 1.6;
}
.item-page .tag-list {
    display: inline-block;
}

.article-metadata {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.tag-list li,
.tag {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

.tag-list a,
.tag a,
.tag {
  text-decoration: none;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  font-weight: 300;
  color: #FFF;
}

.tag-list li:last-child {
  margin-right: 20px;
}

.item-page .tag-list {
  display: inline-block;
}

.content {
  margin-bottom: 40px;
}

.browse-all {
  display: block;
  margin-bottom: 30px;
}

.all-tags ul {
  font-size: 22px;
  margin-right: 10px;
  padding: 6px 10px;
}
.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

body {
    background-color: #222;
}

body,
header .site-name {
    color: #ddd;
}

.item-list > li {
    background-color: #333;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/*Tag Colors*/
.swift-tag {
    background-color: #f26d50;
}
.xcode-tag {
    background-color: #0080ff;
}

.swiftUI-tag {
    background-color: #ff0080;
    
}
.deploy-tag {
    background-color: #008040;
   
}

