/**
 * MARK: Highlight JS
 */
/**/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    background: #1e1e1e;
    color: #dcdcdc;
    padding: 15px 20px;
}

.hljs-keyword,.hljs-literal,.hljs-name,.hljs-symbol {
    color: #569cd6;
}

.hljs-link {
    color: #569cd6;
    text-decoration: underline
}

.hljs-built_in,.hljs-type {
    color: #4ec9b0
}

.hljs-class,.hljs-number {
    color: #b8d7a3
}

.hljs-meta .hljs-string,.hljs-string {
    color: #d69d85
}

.hljs-regexp,.hljs-template-tag {
    color: #9a5334
}

.hljs-formula,.hljs-function,.hljs-params,.hljs-subst,.hljs-title {
    color: #dcdcdc
}

.hljs-comment,.hljs-quote {
    color: #57a64a;
    font-style: italic
}

.hljs-doctag {
    color: #608b4e
}

.hljs-meta,.hljs-meta .hljs-keyword,.hljs-tag {
    color: #9b9b9b
}

.hljs-template-variable,.hljs-variable {
    color: #bd63c5
}

.hljs-attr,.hljs-attribute {
    color: #9cdcfe
}

.hljs-section {
    color: gold
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-bullet,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-selector-tag {
    color: #d7ba7d
}

.hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%
}

.hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%
}


p > code {
    color: #fff;
    border: 1px solid #444;
    background-color: #222;
    padding: 3px 8px;
    font-size: 14px;
    -webkit-font-smoothing: auto;
    white-space: nowrap;
}

pre {
    margin-bottom: 1.5em;
    border: 1px solid rgba(214, 214, 214, 0.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #000;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: #141414;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
  font-size: 24px;
  
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    /*    color: #000;*/
    font-weight: bold;
}

ol {
    list-style-type: disc;
}



header .banner-image {
    max-width: 80%;
    margin-bottom: 6px;
}
.banner-image {
    width: 600px;
    max-width: 80%;
}
.banner-title {
    font-size: 50px;
}

@media(max-width: 560px) {
    .banner-title {
        font-size: 30px;
    }
}

@media(max-width: 400px) {
    .banner-title {
        font-size: 25px;
    }
}

.banner-subtitle {
    font-size: 25px;
}

@media(max-width: 550px) {
    .banner-subtitle {
        font-size: 20px;
    }
}

@media(max-width: 400px) {
    .banner-subtitle {
        font-size: 16px;
    }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


nav {
    margin-top: 30px;
}
nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 20px;
    font-size: 20px;
}

nav a:hover {
    background-color: #237563;
    color: white;
}

nav li a {
/*    display: inline-block;*/
/*    text-align: center;*/
    padding: 10px;
/*    text-decoration: none;*/
    border-radius: 5px;
color: #fff; /* Change this to your desired link color */
  text-decoration: none;
  margin-left: 20px;

}


nav li a.selected {
    background-color: #237563;
    color: white;
    /*    text-decoration: underline;*/
}


h1 {
    margin-bottom: 20px;
    color: #F2F5F7;
    font-size: 32px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}
.item-list {

}

.item-list h1 a:hover {
    color: #237563;
}

.item-metadata {
    color: #6C7693;
}

.small-divider {
    border: 2px solid #237563;
    border-style: none none solid none;
    width: 200px;
}

.description {
    margin-bottom: 40px;
}


.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 40px;
}
.item-list a:link {
    text-decoration: none;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 15;
    line-height: 1.6;
}
.item-page .tag-list {
    display: inline-block;
}

.article-metadata {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.tag-list li,
.tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.tag-list a,
.tag a,
.tag {
    text-decoration: none;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    font-weight: 300;
    color: #FFF;
}

.tag-list li:last-child {
    margin-right: 20px;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags ul {
    font-size: 22px;
    margin-right: 10px;
    padding: 6px 10px;
}
.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

body {
    background-color: rgb(14, 14, 14);
    line-height: 1.47059;
    letter-spacing: -.022em;
}

body,
header .site-name {
    color: #ddd;
}

.item-list > li {
    background-color: #141414;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Tag Colors*/
.swift-tag {
    background-color: #f26d50;
}
.xcode-tag {
    background-color: #0080ff;
}

.swiftUI-tag {
    background-color: #ff0080;
    
}
.deploy-tag {
    background-color: #008040;
}
.combine-tag {
    background-color: #ff7ab2;
}

