* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #000;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
/*    background-image: linear-gradient(#0E141B, #1C262E);*/
/*    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);*/
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
/*    color: #000;*/
    font-weight: bold;
}



header .banner-image {
    max-width: 80%;
    margin-bottom: 6px;
}
.banner-image {
    width: 600px;
    max-width: 80%;
}
.banner-title {
  font-size: 50px;
}

@media(max-width: 560px) {
  .banner-title {
    font-size: 30px;
  }
}

@media(max-width: 400px) {
  .banner-title {
    font-size: 25px;
  }
}

.banner-subtitle {
  font-size: 25px;
}

@media(max-width: 550px) {
  .banner-subtitle {
    font-size: 20px;
  }
}

@media(max-width: 400px) {
  .banner-subtitle {
    font-size: 16px;
  }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


nav {
    margin-top: 30px;
}
nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 20px;
    font-size: 20px;
}

nav a:hover {
    background-color: #237563;
    color: white;
}

nav li a {
/*    display: inline-block;*/
/*    margin: 0 7px;*/
/*    line-height: 1.5em;*/
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}


nav li a.selected {
    background-color: #237563;
    color: white;
/*    text-decoration: underline;*/
}


h1 {
    margin-bottom: 20px;
    color: #F2F5F7;
    font-size: 32px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}
.item-list {
    background-color: black;
}

.item-list h1 a:hover {
    color: #237563;
}
.small-divider {
    border: 2px solid #237563;
    border-style: none none solid none;
    width: 200px;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 15;
    line-height: 1.6;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag-first {
    display: inline-block;
    background-color: red;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}


.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    body,
    header .site-name {
        color: #ddd;
    }

    .item-list > li {
        background-color: #333;
    }

}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/*Tag Colors*/
.swift-tag {
    background-color: #f26d50;
}
.xcode-tag {
    background-color: #0080ff;
}

.swiftUI-tag {
    background-color: #ff0080;
}
.ci/cd-tag {
    background-color: #008040;
}

